.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Futura PT';
    padding-top: 0;
    margin: 0;
    background-color: #F9FAFD;
    width: 100vw;
    margin-left: calc(50% - 50vw);

    @media (max-width: 767px) {  
        padding-top: 56px;
    };
}

.footer__container {
    max-width: 1176px;
    display: flex;
    flex-direction: column;
    margin: 0 32px;

    @media (max-width: 979px) {  
        margin: 0 24px;
    };

    @media (max-width: 767px) {  
        margin: 0 16px;
    };
}