.gray-blue-1 {
    color: #F9FAFD;
}

.gray-blue-3 {
    color: #DBE3F0;
}

.gray-blue-4 {
    color: #A3B3CC;
}

.gray-blue-5 {
    color: #637899;
}

.gray-blue-6 {
    color: #27303F;
}

.blue-2 {
    color: #56B8FF;
}


