.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Futura PT';
    margin: 0 0 96px 0;

    @media (max-width: 979px) {
        margin: 0;

        background-image: url('../../imgs/illustrate.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top 78px;
        padding-bottom: 537px;
    }

    @media (max-width: 767px) {
        padding-bottom: 178px;
    }

}

.header__container {
    display: flex;
    justify-content: center;
    max-width: 1176px;
    width: 100%;
    min-width: 320px;
    margin: 0 32px;

    @media (max-width: 979px) {
        width: 100%;
        margin: 0 24px;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    @media (max-width: 767px) {
        margin: 0 16px;
    }
}

.header__card__container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBE3F0;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    margin: 0 0 0 58px;
    box-shadow: 0px 20px 40px 0px #0000000F;


    @media (max-width: 1231px) {
        left: calc(120px - 130 * (100vw - 980px) / 320); 
    }

    @media (max-width: 979px) {
        width: 640px;
        left: 0;
        margin: 0;
    }

    @media (max-width: 767px) {
        width: 100vw;
    }
}

.header__card__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 96px 38px 0 38px;
}

.header__card__text__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 0 48px 0;

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {

    }
}

.header__card__text {
    margin: 0;
    letter-spacing: 0.25%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    max-width: 392px;

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {

    }
}

.upper-text {
    margin-bottom: 24px;
}

.bottom-text {
    font-weight: 400;
}

.header__card__title {
    font-family: 'Futura PT Cond';
    font-weight: 500;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 64px;
    margin: 0 0 24px 0;
    height: 192px;
    width: 392px;

    @media (max-width: 1175px) {
        height: 192px;
    }

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {
        font-size: 44px;
        line-height: 44px;
    }
}

.header__btn__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 96px 0;

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {

    }
}

.header__btn {
    color: #56B8FF;
    border: 2px solid #56B8FF;
    font-weight: 600;
    background: transparent;
    border-radius: 12px;
    text-transform: uppercase;
    width: 392px;
    height: 56px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4%;
    margin: 0 0 12px 0;

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {

    }
}

.header__details {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    align-items: center;
    background: url('../../imgs/misc/semicircle.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 124px;

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {

    }
}

.header__details__text {
    margin: 0;

    @media (max-width: 979px) {

    }

    @media (max-width: 767px) {

    }
}

.header__details__svg {
    width: 24px;
    height: 24px;
}

.header__img {
    z-index: -1;
    width: 628px;
    height: 684px;
    padding-top: 80px;

    @media (max-width: 1231px) {
        position: relative;
        right: calc(105px - 130 * (100vw - 980px) / 320);
    }

    @media (max-width: 979px) {
        display: none;

        /* Попытка сделать картинку через background у родительского тэга */
        
        /* position: relative;
        /* padding: 274px 32px 28px 32px; */
        /* right: 0;
        bottom: 478px;
        width: 832px;
        height: 908px;
        overflow: hidden;
        margin: 0; */
    }

    @media (max-width: 767px) {

    }
}

.header__logo {
    position: relative;
    width: 112px;
    height: 80px;
    right: 60px;
    top: 30px;

    @media (max-width: 1231px) {
        right: calc(205px - 130 * (100vw - 980px) / 320);
    }

    @media (max-width: 979px) {
        position: absolute;
        right: inherit;
        width: 78px;
        height: 56px;
        margin: 0;
        padding: 0;
    }

    @media (max-width: 767px) {

    }
}
