.help {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #F9FAFD;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.help__container {
    display: flex;
    flex-direction: column;
    max-width: 1176px;
    margin: 0 32px 144px 32px;

    @media (max-width: 979px) {
        margin: 24px 56px 24px;
    };

    @media (max-width: 767px) {
        margin: 0 16px 56px 16px;
    };

}

.help__header__container {
    text-align: center;
    margin: 144px 0 80px 0;

    @media (max-width: 767px) {
        margin: 96px 0 56px 0;
    };
}

.help__header__text {
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.25%;
    
    @media (max-width: 767px) {
        font-size: calc(32px + 6 * (100vw - 320px) / 768);
    };
}

.help__header__desription {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25%;
    
    @media (max-width: 767px) {
        font-size: calc(18px + 2 * (100vw - 320px) / 768);
    };
}

.help__cards__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;

    @media (max-width: 979px) {
        margin: 0 24px;
        flex-wrap: wrap;
        gap: 12px;
    };
    
    @media (max-width: 767px) {
        margin-bottom: 96px;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    };
}

.help__card__item {
    display: flex;
    border: 1px solid #DBE3F0;
    border-radius: 20px;
    box-shadow: 0px 20px 40px 0px #0000000F;
    padding: 48px 40px 72px 40px;  /* top | right | bottom | left */
}

.help__card__item__container {
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        width: calc(208px + 60 * (100vw - 320) / 768);
    };
}

.help__card__item__img {
    align-self: center;
    width: 64px;
    height: 64px;
    margin: 0 0 24px 0;
}

.help__card__item__text {
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    letter-spacing: 0.25%;
    margin: 0;
    min-width: 280px;
    font-size: 20px;

    @media (max-width: 1175px) {
        min-width: none;
        min-width: 208px;
    };

    @media (max-width: 979px) {
        min-width: none;
    };
    
    @media (max-width: 767px) or (max-width: 1175px) {
        min-width: none;
        width: 208px;
        font-size: calc(18px + 2 * (100vw - 320px) / 768);
    };
}