.app {
    display: flex;
    justify-content: center;
    font-family: 'Futura PT';
    width: 100%;

    @media (min-width: 980px) {
        margin: 0 0 96px 0;
    }
    
    @media (max-width: 979px) {
        margin-top: 0px;
    }

    @media (max-width: 767px) {
        margin-top: 16px;
    };
}

.app-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1176px;
    min-width: 320px;

    @media (min-width: 980px) {
        margin: 0 32px;
    }

    @media (max-width: 979px) {
        margin: 0 24px;
    }

    @media (max-width: 767px) {
        margin: 0 16px;
    }
}